<div class="card-product">
  <div class="card-product__inner">
    <a href="product-detail.html" class="card-product__photo">
      <img src="img/product1.webp" loading="lazy" alt="">
    </a>
    <div class="card-product__name">
      <a href="product-detail.html">Твердосплавная пластина ZCC-CT TNMG160404-PM YBC2521</a>
    </div>
    <div class="card-product__description">Короткое описание</div>
    <div class="card-product__status status_outstock">Нет в наличии</div>
    <div class="card-product__prices">
      <div>
        <span class="card-product__label1">С НДС (1 шт.)</span>
        <span class="card-product__price1">441 ₽</span>
        <span class="card-product__price3">1 200 ₽</span>
      </div>
      <div>
        <span class="card-product__label1">Упаковка (10 шт.)</span>
        <span class="card-product__price2">4 410 ₽</span>
      </div>
    </div>
    <button class="card-product__btn-favorite" type="button">
      <svg aria-hidden="true" width="25" height="23">
        <use xlink:href="img/sprite.svg#heart1"></use>
      </svg>
      <span class="v-h">Добавить в избранное</span>
    </button>
  </div>
  <div class="card-product__bottom">
    <div class="stepcounter">
      <button class="stepcounter__btn" type="button" disabled>
        <svg aria-hidden="true" width="14" height="2">
          <use xlink:href="img/sprite.svg#minus1"></use>
        </svg>
        <span class="v-h">Увеличить количество</span>
      </button>
      <input class="stepcounter__input" type="number" value="1" readonly>
      <button class="stepcounter__btn" type="button">
        <svg aria-hidden="true" width="14" height="14">
          <use xlink:href="img/sprite.svg#plus1"></use>
        </svg>
        <span class="v-h">Уменьшить количество</span>
      </button>
    </div>
    <a href="cart.html" class="btn btn_black">В корзине</a>
  </div>
</div>
