<div class="card-product2">
  <div class="card-product2__col-photo">
    <img src="img/product2.webp" loading="lazy" alt="">
  </div>
  <div class="card-product2__col-data">
    <div class="card-product2__name">
      <a href="#">Твердосплавная пластина ZCC-CT TNMG160404-PM YBC252</a>
    </div>
    <div class="card-product2__description">Короткое описание</div>
    <div class="card-product2__status status_instock">В наличии</div>
  </div>
  <div class="card-product2__col-price">
    <div class="card-product2__label1">С НДС (1 шт.)</div>
    <div class="card-product2__price1">441 ₽</div>
    <div class="card-product2__price2">1200 ₽</div>
  </div>
</div>
