<div class="card-product3 card-product3_incart">
  <div class="card-product3__col-photo">
    <a href="catalog-detail.html">
      <img src="img/product2.webp" alt="">
    </a>
  </div>
  <div class="card-product3__col-data">
    <div class="card-product3__name">
      <a href="#">Встраиваемый светильник Ecola GX53 H4-GL без рефлектора, глубокий, белый 48x106 FW53GLECB</a>
    </div>
    <div class="card-product3__description">Гидравлический бутылочный домкрат Gigant 5Т HBJ-5 подойдет для легковых автомобилей, внедорожников и малотоннажных грузовиков. Наличие предохранительного клапана защищает устройство от поломки из-за перегрузок. Высота подхвата данного домкрата составляет 216 мм. грузоподъемность - 5 т. Модель полностью соответствует ГОСТ Р 53822-2010. Оборудование проходит тщательный контроль качества в лаборатории завода, а также входной контроль качества перед продажей.</div>
    <div class="card-product3__status status_instock">В наличии</div>
    <div class="card-product3__col-specs">
      <div class="card-product3__label2">Характеристики</div>
      <div class="card-product3__specs">
        <div>
          <span>Форма пластины C</span>
          <span>(Ромб 80°)</span>
        </div>
        <div>
          <span>Размер пластины</span>
          <span>06</span>
        </div>
        <div>
          <span>Радиус при вершине r (мм)</span>
          <span>0.4</span>
        </div>
        <div>
          <span>Вид обработки</span>
          <span>Получистовая / Получерновая</span>
        </div>
        <div>
          <span>Материал пластины</span>
          <span>Кубический нитрид бора (CBN)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-product3__col-btn">
    <button data-action="showSpecs" class="card-product3__btn-info" type="button">
      <svg aria-hidden="true" width="6" height="15">
        <use xlink:href="img/sprite.svg#info1"></use>
      </svg>
      <span class="v-h">Характеристики</span>
    </button>
  </div>
  <div class="card-product3__col1">
    <div>
      <div class="card-product3__label1">С НДС (1 шт.)</div>
      <span class="card-product3__price1">12 441 ₽</span>
      <span class="card-product3__price2">21 200 ₽</span>
    </div>
  </div>
  <div class="card-product3__col2">
    <div>
      <span>На сумму</span>
      <span class="card-product3__price3">4 410 ₽</span>
    </div>
  </div>
  <div class="card-product3__col3">
    <div class="stepcounter">
      <button class="stepcounter__btn" type="button" disabled>
        <svg aria-hidden="true" width="14" height="2">
          <use xlink:href="img/sprite.svg#minus1"></use>
        </svg>
        <span class="v-h">Увеличить количество</span>
      </button>
      <input class="stepcounter__input" type="number" value="1" readonly>
      <button class="stepcounter__btn" type="button">
        <svg aria-hidden="true" width="14" height="14">
          <use xlink:href="img/sprite.svg#plus1"></use>
        </svg>
        <span class="v-h">Уменьшить количество</span>
      </button>
    </div>
  </div>
  <div class="card-product3__col4">
    <div>
    <a href="#" class="btn btn_black">В корзине</a>
    </div>
    <button class="card-product3__btn-favorite active" type="button">
      <svg aria-hidden="true" width="22" height="20">
        <use xlink:href="img/sprite.svg#heart1"></use>
      </svg>
    </button>
  </div>
</div>
