<a href="news-detail.html" class="card-news">
  <div class="card-news__photo">
    <img src="img/news1.jpg" loading="lazy" alt="">
  </div>
  <div class="card-news__date badge1 badge1_black">03 июня 2025</div>
  <div class="card-news__bottom">
    <div class="card-news__title">Итоги "Большого приза Тольятти 2025" и 3 этапа Кубка России по спортинг-компакту 3 этапа Кубка России по спортинг-компакту</div>
    <div class="card-news__preview">С 25 по 27 апреля на базе стрелкового клуба "Ловчий +" в Тольятти состоялся один из ключевых турниров спортивного сезона на базе стрелкового клуба "Ловчий +"</div>
  </div>
</a>
