<ul class="catalog-menu__columns">
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 1</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 1
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
          <li class="catalog-menu__lvl2 catalog-menu__expander1">
            <button data-action="expandList1" class="btn-text btn-text_2" type="button">Посмотреть все</button>
            <button data-action="collapseList1" class="btn-text btn-text_2" type="button">Свернуть</button>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 2</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 2
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
          <li class="catalog-menu__lvl2 catalog-menu__expander1">
            <button data-action="expandList1" class="btn-text btn-text_2" type="button">Посмотреть все</button>
            <button data-action="collapseList1" class="btn-text btn-text_2" type="button">Свернуть</button>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 3</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 3
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 4</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 4
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
          <li class="catalog-menu__lvl2 catalog-menu__expander1">
            <button data-action="expandList1" class="btn-text btn-text_2" type="button">Посмотреть все</button>
            <button data-action="collapseList1" class="btn-text btn-text_2" type="button">Свернуть</button>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 5</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 5
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 6</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 6
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 7</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 7
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 8</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 8
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 9</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 9
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 10</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 10
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 11</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 11
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="catalog-menu__column-item">
    <div class="catalog-menu__title2">
      <a href="catalog.html">Токарная обработка 12</a>
      <button class="catalog-menu__btn1" type="button">
        <svg aria-hidden="true" width="10" height="17">
          <use xlink:href="img/sprite.svg#chevron3"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-menu__sub2">
      <div class="catalog-menu__sub2-inner">
        <button data-action="menuBack4" class="header__btn-back" type="button">
          <svg aria-hidden="true" width="20" height="12">
            <use xlink:href="img/sprite.svg#chevron2"></use>
          </svg>
          Токарная обработка 12
        </button>
        <ul>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Твердосплавные сверла</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными пластинами</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Сверла со сменными головками</a></li>
          <li class="catalog-menu__lvl2"><a href="catalog.html">Расточные системы</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
