<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__grid">
        <div>
          <a class="footer__logo" href="/">
            <img src="img/logo-light.svg" alt="">
          </a>
          <div class="footer__name"><span>ООО «НААНИТ» </span><span>Официальный импортер </span><span>и&nbsp;дистрибьютор бренда ZCC-CT</span></div>
        </div>
        <div>
          <p class="footer__caption"><a href="catalog.html">Каталог</a></p>
          <ul class="footer__nav">
            <li>
              <a href="catalog.html">Токарная обработка</a>
            </li>
            <li>
              <a href="catalog.html">Точение резьбы</a>
            </li>
            <li>
              <a href="catalog.html">Сверление</a>
            </li>
            <li>
              <a href="catalog.html">Станочная оснастка</a>
            </li>
            <li>
              <a href="catalog.html">Твердосплавные фрезы</a>
            </li>
            <li>
              <a href="catalog.html">Метчики и резьбофрезы</a>
            </li>
            <li>
              <a href="catalog.html">Токарные держатели</a>
            </li>
            <li>
              <a href="catalog.html">Твердосплавные столбики</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="footer__caption"><a href="about.html">О компании</a></p>
          <p class="footer__caption"><a href="info.html">Тех.информация</a></p>
          <p class="footer__caption"><a href="catalogs.html">Каталоги</a></p>
          <p class="footer__caption"><a href="news.html">Новости</a></p>
          <p class="footer__caption"><a href="contacts.html">Контакты</a></p>
        </div>
        <div>
          <div class="footer__location">
            <svg width="18" height="21" aria-hidden="true">
              <use xlink:href="img/sprite.svg#placemark1"></use>
            </svg>
            344029 г. Ростов-на-Дону, ул. Селиванова, 49, офис 9
          </div>
          <p class="footer__phone">
            <a href="tel:+79614290802">+7 (961) 429-08-02</a>
          </p>
          <p class="footer__phone">
             <a href="tel:+79045084162">+7 (904) 508-41-62</a>
          </p>
          <p class="footer__mail">
            <a href="mailto:naanit1@yandex.ru">naanit1@yandex.ru</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-grid">
        Copyright © 2025 «НААНИТ»
        <div class="footer__bottom-grid-inner">
          <a href="policy.html">Обработка персональных данных</a>
          <a class="logo" href="https://acroweb.ru/">
            <img src="img/logo-acroweb.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
