<div class="hystmodal" id="modalCallback" aria-hidden="true">
  <div class="hystmodal__wrap">
    <div class="hystmodal__window" role="dialog" aria-modal="true">
      <div class="hystmodal__inner">
        <h2 class="hystmodal__title">Заказать звонок</h2>
        <div class="hystmodal__description">Оставьте заявку и наш менеджер свяжется с Вами в ближайшее время!</div>
        <form data-validate action="callback.php">
          <div class="form-grid1">
            <div class="form-grid1__row">
							<div class="form-group1">
								<input id="popup_callback_name" class="field-input1 form-group1__field" placeholder=" " type="text" name="popup_callback_name" required>
                <label class="form-group1__label form-group1__label_req" for="popup_callback_name">ФИО</label>
							</div>
            </div>
            <div class="form-grid1__row">
							<div class="form-group1">
								<input id="popup_callback_phone" data-type="phone" data-mask="phone" placeholder=" " class="field-input1 form-group1__field" type="text" name="popup_callback_phone" required>
                <label class="form-group1__label form-group1__label_hidden" for="popup_callback_phone">Номер телефона</label>
                <span class="form-group1__placeholder1 form-group1__placeholder1_req"><span>+7</span> (999) 999-99-99</span>
              </div>
            </div>
            <div class="form-grid1__row form-grid1__row_sparse">
              <div class="form-group">
                <label class="checkbox-text">
                  <span class="checkbox">
                    <input class="checkbox__input" type="checkbox" name="agreement" required>
                    <span class="checkbox__visual">
                      <svg class="checkbox__mark" width="12" height="11" aria-hidden="true">
                        <use xlink:href="img/sprite.svg#mark1"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="checkbox-text__label">Даю согласие на обработку своих персональных данных</span>
                </label>
              </div>
            </div>
            <div class="form-grid1__row">
              <button type="submit" class="btn btn_primary btn_wide">Заказать звонок</button>
            </div>
          </div>
        </form>
      </div>
      <button data-hystclose class="hystmodal__close">
        <svg aria-hidden="true" width="20" height="20">
          <use xlink:href="img/sprite.svg#close1"></use>
        </svg>
        <span class="v-h">Закрыть</span>
      </button>
    </div>
  </div>
</div>

<div class="hystmodal" id="modalBuy1Click" aria-hidden="true">
  <div class="hystmodal__wrap">
    <div class="hystmodal__window" role="dialog" aria-modal="true">
      <div class="hystmodal__inner">
        <h2 class="hystmodal__title">Купить в 1 клик</h2>
        <div class="hystmodal__product">
          <img src="img/product1.webp" alt="">
          <div>Твердосплавная пластина ZCC-CT TNMG160404-PM YBC252</div>
        </div>
        <form data-validate action="buy1click.php">
          <div class="form-grid1">
            <div class="form-grid1__row">
							<div class="form-group1">
								<input id="popup_buy1click_name" class="field-input1 form-group1__field" placeholder=" " type="text" name="popup_buy1click_name" required>
                <label class="form-group1__label form-group1__label_req" for="popup_buy1click_name">ФИО</label>
							</div>
            </div>
            <div class="form-grid1__row">
							<div class="form-group1">
								<input id="popup_buy1click_phone" data-type="phone" data-mask="phone" placeholder=" " class="field-input1 form-group1__field" type="text" name="popup_buy1click_phone" required>
                <label class="form-group1__label form-group1__label_hidden" for="popup_buy1click_phone">Номер телефона</label>
                <span class="form-group1__placeholder1 form-group1__placeholder1_req"><span>+7</span> (999) 999-99-99</span>
              </div>
            </div>
            <div class="form-grid1__row">
							<div class="form-group1">
								<input id="popup_buy1click_email" class="field-input1 form-group1__field" placeholder=" " type="text" name="popup_buy1click_email" required>
                <label class="form-group1__label form-group1__label_req" for="popup_buy1click_email">E-mail</label>
							</div>
            </div>
            <div class="form-grid1__row">
							<div class="form-group1">
								<input id="popup_buy1click_inn" class="field-input1 form-group1__field" placeholder=" " type="text" name="popup_buy1click_inn" required>
                <label class="form-group1__label form-group1__label_req" for="popup_buy1click_inn">ИНН</label>
							</div>
            </div>
            <div class="form-grid1__row">
							<div class="form-group1">
                <textarea name="popup_buy1click_message" class="field-input1 form-group1__field" placeholder=" " id="popup_buy1click_message"></textarea>
                <label class="form-group1__label" for="popup_buy1click_message">Комментарий к заказу</label>
							</div>
            </div>
            <div class="form-grid1__row form-grid1__row_sparse">
              <div class="form-group">
                <label class="checkbox-text">
                  <span class="checkbox">
                    <input class="checkbox__input" type="checkbox" name="agreement" required>
                    <span class="checkbox__visual">
                      <svg class="checkbox__mark" width="12" height="11" aria-hidden="true">
                        <use xlink:href="img/sprite.svg#mark1"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="checkbox-text__label">Даю согласие на обработку своих персональных данных</span>
                </label>
              </div>
            </div>
            <div class="form-grid1__row">
              <button type="submit" class="btn btn_primary btn_wide">Купить в 1 клик</button>
            </div>
          </div>
        </form>
      </div>
      <button data-hystclose class="hystmodal__close">
        <svg aria-hidden="true" width="20" height="20">
          <use xlink:href="img/sprite.svg#close1"></use>
        </svg>
        <span class="v-h">Закрыть</span>
      </button>
    </div>
  </div>
</div>

<div class="hystmodal" id="modalProductSubscribe" aria-hidden="true">
  <div class="hystmodal__wrap">
    <div class="hystmodal__window" role="dialog" aria-modal="true">
      <div class="hystmodal__inner">
        <h2 class="hystmodal__title">сообщить о поступлении</h2>
        <div class="hystmodal__product">
          <img src="img/product1.webp" alt="">
          <div>Твердосплавная пластина ZCC-CT TNMG160404-PM YBC252</div>
        </div>
        <form data-validate action="product-subscribe.php">
          <div class="form-grid1">
            <div class="form-grid1__row">
							<div class="form-group1">
								<input id="popup_buy1click_name" class="field-input1 form-group1__field" placeholder=" " type="text" name="popup_buy1click_name" required>
                <label class="form-group1__label form-group1__label_req" for="popup_buy1click_name">ФИО</label>
							</div>
            </div>
            <div class="form-grid1__row">
							<div class="form-group1">
								<input id="popup_buy1click_email" class="field-input1 form-group1__field" placeholder=" " type="text" name="popup_buy1click_email" required>
                <label class="form-group1__label form-group1__label_req" for="popup_buy1click_email">E-mail</label>
							</div>
            </div>
            <div class="form-grid1__row form-grid1__row_sparse">
              <div class="form-group">
                <label class="checkbox-text">
                  <span class="checkbox">
                    <input class="checkbox__input" type="checkbox" name="agreement" required>
                    <span class="checkbox__visual">
                      <svg class="checkbox__mark" width="12" height="11" aria-hidden="true">
                        <use xlink:href="img/sprite.svg#mark1"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="checkbox-text__label">Даю согласие на обработку своих персональных данных</span>
                </label>
              </div>
            </div>
            <div class="form-grid1__row">
              <button type="submit" class="btn btn_primary btn_wide">Подписаться</button>
            </div>
          </div>
        </form>
      </div>
      <button data-hystclose class="hystmodal__close">
        <svg aria-hidden="true" width="20" height="20">
          <use xlink:href="img/sprite.svg#close1"></use>
        </svg>
        <span class="v-h">Закрыть</span>
      </button>
    </div>
  </div>
</div>
