<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Главная страница</title>
		{% include 'blocks/head.njk' %}
	</head>
	<body class="preload mp">
		<div class="main-wrapper-outer">
			{% include 'blocks/header.njk' %}
			<main class="main">
        <div class="block-breadcrumbs">
					<div class="container">
						<nav aria-label="breadcrumb" class="breadcrumbs">
							<a href="/" class="breadcrumbs__item">
								Главная
							</a>
							<span aria-hidden="true">&mdash;</span>
							<a href="catalog.html" class="breadcrumbs__item">
								Продукция
							</a>
							<span aria-hidden="true">&mdash;</span>
							<a href="catalog.html" class="breadcrumbs__item">
								Токарные пластины по ISO
							</a>
							<span aria-hidden="true">&mdash;</span>
							<span aria-current="page" class="breadcrumbs__item">
								Твердосплавная пластина ZCC-CT TNMG160404-PM YBC252
							</span>
						</nav>
					</div>
				</div>
        <div class="catalog-detail-wrapper">
          <div class="container container_bordered1">
            <div class="catalog-detail">
              <div class="catalog-detail__preview">
                <div data-swiper="preview" class="swiper swiper-preview">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img src="img/product1.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="img/product2.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="img/product1.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="img/product2.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="img/product1.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                      <img src="img/product2.webp" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="catalog-detail__photos">
                <div class="catalog-detail__badges">
                  <span class="badge1 badge1_black">Новинка</span>
                  <span class="badge1 badge1_red">Акция</span>
                  <span class="badge1 badge1_orange">Хит</span>
                </div>
                <div data-swiper="photos" class="swiper swiper-photos">
                  <div class="swiper-wrapper">
                    <a href="img/product1.webp" data-fancybox="photo-big" class="swiper-slide">
                      <img src="img/product1.webp" alt="">
                    </a>
                    <a href="img/product2.webp" data-fancybox="photo-big" class="swiper-slide">
                      <img src="img/product2.webp" alt="">
                    </a>
                    <a href="img/product1.webp" data-fancybox="photo-big" class="swiper-slide">
                      <img src="img/product1.webp" alt="">
                    </a>
                    <a href="img/product2.webp" data-fancybox="photo-big" class="swiper-slide">
                      <img src="img/product2.webp" alt="">
                    </a>
                    <a href="img/product1.webp" data-fancybox="photo-big" class="swiper-slide">
                      <img src="img/product1.webp" alt="">
                    </a>
                    <a href="img/product2.webp" data-fancybox="photo-big" class="swiper-slide">
                      <img src="img/product2.webp" alt="">
                    </a>
                  </div>
                  <button class="swiper-nav swiper-nav_prev" type="button">
                    <svg aria-hidden="true" width="11" height="20">
                      <use xlink:href="img/sprite.svg#chevron1"></use>
                    </svg>
                    <span class="v-h">Назад</span>
                  </button>
                  <button class="swiper-nav swiper-nav_next" type="button">
                    <svg aria-hidden="true" width="11" height="20">
                      <use xlink:href="img/sprite.svg#chevron1"></use>
                    </svg>
                    <span class="v-h">Вперед</span>
                  </button>
                </div>
              </div>
              <div class="catalog-detail__data">
                <h1 class="catalog-detail__name">Твердосплавная пластина ZCC-CT TNMG160404-PM YBC252</h1>
                <div class="catalog-detail__code">Артикул: 5004651950046519</div>
                <div class="text-cutter1">
                  <div class="catalog-detail__description">
                    Сменная твердосплавная пластина CNMG 120408 - OSM OP1105 для получистовой обработки жаропрочных, титановых и нержавеющих сплавов на средних и низких режимах резания. Возможно применение для других сталей при стабильном точении.
                    Сменная твердосплавная пластина CNMG 120408 - OSM OP1105 для получистовой обработки жаропрочных, титановых и нержавеющих сплавов на средних и низких режимах резания. Возможно применение для других сталей при стабильном точении.
                  </div>
                  <a data-action="scroll" class="btn-text btn-text_2" href="#description">Подробнее</a>
                </div>
                <h2 class="catalog-detail__title">Характеристики</h2>
                <div class="table-specs1-wrapper">
                  <table class="table-specs1">
                    <tr>
                      <td>Форма пластины</td>
                      <td>C (Ромб 80°)</td>
                    </tr>
                    <tr>
                      <td>Размер пластины</td>
                      <td>06</td>
                    </tr>
                    <tr>
                      <td>Радиус при вершине r (мм)</td>
                      <td>0.4</td>
                    </tr>
                    <tr>
                      <td>Вид обработки</td>
                      <td>Получистовая / Получерновая</td>
                    </tr>
                    <tr>
                      <td>Материал пластины</td>
                      <td>Кубический нитрид бора (CBN)</td>
                    </tr>
                  </table>
                  <a data-action="scroll" class="btn-text btn-text_2" href="#specs">Все характеристики</a>
                </div>
              </div>
              <div class="catalog-detail__order">
                <div class="catalog-detail__grid1">
                  <div>
                    <div class="catalog-detail__date">Дата поступления: 12.12.2025</div>
                    <div class="catalog-detail__prices">
                      <span class="catalog-detail__label1">С НДС (1 шт.)</span>
                      <span class="catalog-detail__price1">441 ₽</span>
                      <span class="catalog-detail__price2">1 200 ₽</span>
                      <span class="catalog-detail__label1">Упаковка (10 шт.)</span>
                      <span class="catalog-detail__price3">4 410 ₽</span>
                    </div>
                  </div>
                  <button class="catalog-detail__btn-favorite" type="button">
                    <svg aria-hidden="true" width="22" height="20">
                      <use xlink:href="img/sprite.svg#heart1"></use>
                    </svg>
                  </button>
                </div>
                <button data-hystmodal="#modalProductSubscribe" class="btn btn_grey btn_wide" type="button">Подписаться</button>
              </div>
            </div>
          </div>
        </div>

        <div class="block1 catalog-detail-data">
          <div class="container catalog-detail-data__description">
            <h2 class="title4">Описание</h2>
            <div class="textblock1 textblock1_big">
              <p>ООО «НААНИТ» — динамично развивающаяся компания на рынке металлорежущего инструмента. Мы занимаемся комплексным оснащением и поставкой промышленного инструмента на ведущие предприятия ЮФО, являемся официальным дистрибьютором бренда ZCC-CT. Наша компания представляет весь спектр инструмента от стандартного до специального сложнопрофильного режущего инструмента по чертежам Заказчика. Качество инструмента испытано и подтверждено ведущими предприятиями России. Наши специалисты всегда готовы оказать консультативную и техническую поддержку, а также выехать на Ваше предприятие для подбора и испытания необходимого инструмента. Будем рады увидеть Вас в числе наших клиентов с надеждой на долгосрочное и взаимовыгодное сотрудничество!</p>
            </div>
          </div>
          <div class="container container_bordered1 catalog-detail-data__specs">
            <h2 class="title4">Характеристики</h2>
            <dl class="table-specs2">
              <dt>Форма пластины</dt>
              <dd>C (Ромб 80°)</dd>
              <dt>Форма пластины</dt>
              <dd>C (Ромб 80°)</dd>

              <dt>Размер пластины</dt>
              <dd>06</dd>
              <dt>Размер пластины</dt>
              <dd>06</dd>

              <dt>Радиус при вершине r (мм)</dt>
              <dd>0.4</dd>
              <dt>Радиус при вершине r (мм)</dt>
              <dd>0.4</dd>

              <dt>Вид обработки</dt>
              <dd>Получистовая / Получерновая</dd>
              <dt>Вид обработки</dt>
              <dd>Получистовая / Получерновая</dd>

              <dt>Материал пластины</dt>
              <dd>Кубический нитрид бора (CBN)</dd>
              <dt>Материал пластины</dt>
              <dd>Кубический нитрид бора (CBN)</dd>
            </dl>
          </div>
        </div>

        <section class="block-products">
          <div class="container">
            <div class="heading-cols1">
              <h2 class="title2">Рекомендуем</h2>
            </div>
          </div>
          <div class="container container_bordered1">
            <div data-swiper="products" class="swiper swiper-products">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card-product">
                    <div class="card-product__inner">
                      <a href="product-detail.html" class="card-product__photo">
                        <img src="img/product2.webp" loading="lazy" alt="">
                      </a>
                      <div class="card-product__badges"></div>
                      <div class="card-product__name">
                        <a href="product-detail.html">УШМ (болгарка) SPARKY MB 1200E 14000077112</a>
                      </div>
                      <div class="card-product__description">УШМ SPARKY MB 1200E HD относится к классу профессиональных инструментов и предназначена для резки, шлифовки, полировки, зачистки различных материалов.</div>
                      <div class="card-product__status status_instock">Нет в наличии</div>
                      <div class="card-product__prices">
                        <div>
                          <span class="card-product__label1">С НДС (1 шт.)</span>
                          <span class="card-product__price1">441 ₽</span>
                          <span class="card-product__price3">1 200 ₽</span>
                        </div>
                        <div>
                          <span class="card-product__label1">Упаковка (10 шт.)</span>
                          <span class="card-product__price2">4 410 ₽</span>
                        </div>
                      </div>
                      <button class="card-product__btn-favorite active" type="button">
                        <svg aria-hidden="true" width="25" height="23">
                          <use xlink:href="img/sprite.svg#heart1"></use>
                        </svg>
                        <span class="v-h">Добавить в избранное</span>
                      </button>
                    </div>
                    <div class="card-product__bottom">
                      <div class="stepcounter">
                        <button class="stepcounter__btn" type="button" disabled>
                          <svg aria-hidden="true" width="14" height="2">
                            <use xlink:href="img/sprite.svg#minus1"></use>
                          </svg>
                          <span class="v-h">Увеличить количество</span>
                        </button>
                        <input class="stepcounter__input" type="number" value="1" readonly>
                        <button class="stepcounter__btn" type="button">
                          <svg aria-hidden="true" width="14" height="14">
                            <use xlink:href="img/sprite.svg#plus1"></use>
                          </svg>
                          <span class="v-h">Уменьшить количество</span>
                        </button>
                      </div>
                      <button class="btn btn_grey">Подписаться</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  {% include 'blocks/card-product1.njk' %}
                </div>
                <div class="swiper-slide">
                  {% include 'blocks/card-product2.njk' %}
                </div>
                <div class="swiper-slide">
                  {% include 'blocks/card-product1.njk' %}
                </div>
                <div class="swiper-slide">
                  {% include 'blocks/card-product2.njk' %}
                </div>
                <div class="swiper-slide">
                  {% include 'blocks/card-product1.njk' %}
                </div>
                <div class="swiper-slide">
                  {% include 'blocks/card-product2.njk' %}
                </div>
                <div class="swiper-slide">
                  {% include 'blocks/card-product1.njk' %}
                </div>
                <div class="swiper-slide">
                  {% include 'blocks/card-product2.njk' %}
                </div>
              </div>
              <button class="swiper-nav swiper-nav_prev" type="button">
                <svg aria-hidden="true" width="14" height="24">
                  <use xlink:href="img/sprite.svg#chevron1"></use>
                </svg>
                <span class="v-h">Назад</span>
              </button>
              <button class="swiper-nav swiper-nav_next" type="button">
                <svg aria-hidden="true" width="14" height="24">
                  <use xlink:href="img/sprite.svg#chevron1"></use>
                </svg>
                <span class="v-h">Вперед</span>
              </button>
            </div>
          </div>
        </section>

        {% include 'blocks/feedback.njk' %}
			</main>
			{% include 'blocks/footer.njk' %}
		</div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
	</body>
</html>
