<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Каталоги</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-breadcrumbs">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumbs">
                        <a href="/" class="breadcrumbs__item">
                            Главная
                        </a>
                        <span aria-hidden="true">&mdash;</span>
                        <span aria-current="page" class="breadcrumbs__item">
                            Каталоги
                        </span>
                    </nav>
                    <h1 class="title2">Каталоги</h1>
                </div>
            </div>

            <div class="block-catalogs1 block1">
                <div class="container container_bordered1">
                    <div class="block-catalogs1__cards">
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">Общий каталог 2023</div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs1.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">Корпусные фрезы</div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs2.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">Глубокое сверление</div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs3.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">
                                    Фрезы со сменной головкой, обработка титана
                                </div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs4.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">
                                    Корпусные фрезы
                                </div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs5.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">
                                    Глубокое сверление
                                </div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs6.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">
                                    Общий каталог 2023
                                </div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs7.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">
                                    Фрезы со сменной головкой, обработка титана
                                </div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs8.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">
                                    Общий каталог 2023
                                </div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs9.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">
                                    Корпусные фрезы
                                </div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs10.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">
                                    Глубокое сверление
                                </div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs11.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                        <div class="block-catalogs1__card">
                            <div class="block-catalogs1__titles">
                                <div class="block-catalogs1__top">
                                    <div class="block-catalogs1__data badge1 badge1_black">19 мая 2025</div>
                                    <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" download
                                        class="block-catalogs1__download">
                                        <img src="img/download.svg" alt="">
                                        <span>.PDF</span>
                                    </a>
                                </div>
                                <div class="block-catalogs1__title">
                                    Фрезы со сменной головкой, обработка титана
                                </div>
                            </div>
                            <a href="files/8u4r1xqxc4ycsypsrzskkcdhnrv4bfjf.pdf" target="_blank">
                                <img src="img/catalogs12.webp" alt="" class="block-catalogs1__pic">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/description-about.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>