<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Восстановление пароля</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-breadcrumbs breadcrumbs-delivery">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumbs">
                        <a href="/" class="breadcrumbs__item">
                            Главная
                        </a>
                        <span aria-hidden="true">&mdash;</span>
                        <span aria-current="page" class="breadcrumbs__item">
                            Восстановление пароля
                        </span>
                    </nav>
                </div>
            </div>

            <div class="block-login block1">
                <div class="container">
                    <div class="block-login__top">
                        <h1 class="title2">восстановление пароля</h1>
                        <p>
                            Подтвердите адрес вашей электронной почты. На него будет отправлен пароль.
                        </p>

                    </div>
                </div>
                <div class="container container_bordered1">
                    <form data-validate action="#" class="form">
                        <div class="form-grid1">
                            <div class="form-grid1__row">
                                <div class="form-group1">
                                    <input id="popup_login_email" class="field-input1 form-group1__field"
                                        placeholder=" " type="text" name="popup_login_email" required>
                                    <label class="form-group1__label form-group1__label_req"
                                        for="popup_login_email">E-mail</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-grid1__buttons">
                            <button class="btn btn_primary" type="submit">
                                Отправить пароль
                            </button>
                            <a href="login.html" class="btn-text2">
                                <span>к авторизации</span>
                                <svg aria-hidden="true" width="14" height="14">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                        </div>
                    </form>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>