<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Новости - детальная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-breadcrumbs">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumbs">
                        <a href="/" class="breadcrumbs__item">
                            Главная
                        </a>
                        <span aria-hidden="true">&mdash;</span>
                        <a href="/" class="breadcrumbs__item">
                            Новости
                        </a>
                        <span aria-hidden="true">&mdash;</span>
                        <span aria-current="page" class="breadcrumbs__item">
                            Метчики из быстрорежущей стали в качестве дополнения к цельным твердосплавным
                        </span>
                    </nav>
                </div>
            </div>

            <div class="block-news-detail block1">
                <div class="container container_bordered1">
                    <div class="block-news-detail__content">
                        <div class="block-news-detail__right">
                            <div class="block-news-detail__sticky">
                                <a href="news.html" class="back">
                                    <svg aria-hidden="true" width="16" height="16">
                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                    </svg>
                                    <span>назад к новостям</span>
                                </a>
                                <div class="block-news-detail__data">
                                    <div class="badge1 badge1_black">19 мая 2025</div>
                                    <div class="share">
                                        <svg aria-hidden="true" width="16" height="16">
                                            <use xlink:href="img/sprite.svg#share"></use>
                                        </svg>
                                        <span>Поделиться</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-news-detail__left">
                            <div class="descr">
                                <h1 class="title2">
                                    Метчики из быстрорежущей стали в качестве дополнения к цельным твердосплавным
                                </h1>
                                <img loading="lazy" class="block-news-detail__photo" src="img/news2.webp" alt="">
                                <h3 class="title4">Заголовок 1</h3>
                                <p>
                                    Оптимальное соотношение цены и качества, надежное производство, универсальное
                                    использование для обработки различных материалов — вот что представляют собой новые
                                    метчики HSS-E и HSS-PM от ZCC Cutting Tools Europe.
                                </p>
                                <p>
                                    HSS-E — лучший выбор благодаря сбалансированному соотношению цены и качества. Даже
                                    если
                                    подача теплоносителя не оптимальна, кран остается термостойким. При содержании
                                    кобальта
                                    в сплаве 5 % материалы с пределом прочности на растяжение более 800 Н/мм² также
                                    могут
                                    быть хорошо обработаны.
                                </p>
                                <p>
                                    Метчики из быстрорежущей стали PM обеспечивают особенно долгий срок службы для
                                    надежного
                                    массового производства. Быстрорежущая сталь, полученная методом порошковой
                                    металлургии,
                                    имеет более высокую долю легирующих элементов. Таким образом, он обладает
                                    уникальными
                                    свойствами, повышающими ударную вязкость, износостойкость и твердость, а также
                                    повышает
                                    надежность процесса и до трети увеличивает срок службы инструмента.
                                </p>
                                <p>
                                    Метчики HSS доступны в форме B для сквозной резьбы и в форме C для резьбы с глухим
                                    отверстием. Конструкция хвостовика включает DIN 371 ≤ M10 и DIN 376 ≥ M8. Краны
                                    также
                                    доступны с внутренним охлаждением и без него. Внутреннее охлаждение имеет
                                    фронтальный
                                    выход от М8. Все сверла имеют покрытие TiAlN. Допуск 6H является стандартным
                                    допуском,
                                    но по запросу также можно заказать с более жестким производственным допуском 6HX.
                                </p>
                                <blockquote>
                                    <p>
                                        Оптимальное соотношение цены и качества, надежное производство, универсальное
                                        использование для обработки различных материалов — вот что представляют собой
                                        новые метчики HSS-E и HSS-PM от ZCC Cutting Tools Europe.
                                    </p>
                                </blockquote>
                                <h4 class="title3">
                                    Маркированный список
                                </h4>
                                <ul>
                                    <li>
                                        Оптимальное соотношение цены и качества, надежное производство, универсальное
                                        использование для обработки различных материалов — вот что представляют собой
                                        новые метчики HSS-E и HSS-PM от ZCC Cutting Tools Europe.
                                    </li>
                                    <li>
                                        Оптимальное соотношение цены и качества, надежное производство, универсальное
                                        использование для обработки различных материалов — вот что представляют собой
                                        новые метчики HSS-E и HSS-PM от ZCC Cutting Tools Europe.
                                    </li>
                                </ul>
                                <h4 class="title3">
                                    Нумерованный список
                                </h4>
                                <ol>
                                    <li>
                                        1. Оптимальное соотношение цены и качества, надежное производство, универсальное
                                        использование для обработки различных материалов — вот что представляют собой
                                        новые метчики HSS-E и HSS-PM от ZCC Cutting Tools Europe.
                                    </li>
                                    <li>
                                        2. Оптимальное соотношение цены и качества, надежное производство, универсальное
                                        использование для обработки различных материалов — вот что представляют собой
                                        новые метчики HSS-E и HSS-PM от ZCC Cutting Tools Europe.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="block-news">
                <div class="container">
                    <div class="heading-cols1">
                        <h2 class="title2">другие новости</h2>
                    </div>
                </div>
                <div class="container container_bordered1">
                    <div data-swiper="products" class="swiper swiper-products">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                {% include 'blocks/card-news1.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-news1.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-news1.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-news1.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-news1.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-news1.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-news1.njk' %}
                            </div>
                            <div class="swiper-slide">
                                {% include 'blocks/card-news1.njk' %}
                            </div>
                        </div>
                        <button class="swiper-nav swiper-nav_prev" type="button">
                            <svg aria-hidden="true" width="14" height="24">
                                <use xlink:href="img/sprite.svg#chevron1"></use>
                            </svg>
                            <span class="v-h">Назад</span>
                        </button>
                        <button class="swiper-nav swiper-nav_next" type="button">
                            <svg aria-hidden="true" width="14" height="24">
                                <use xlink:href="img/sprite.svg#chevron1"></use>
                            </svg>
                            <span class="v-h">Вперед</span>
                        </button>
                    </div>
                </div>
            </section>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>