<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Решение проблем</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-breadcrumbs breadcrumbs-delivery">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumbs">
                        <a href="/" class="breadcrumbs__item">
                            Главная
                        </a>
                        <span aria-hidden="true">&mdash;</span>
                        <a href="/" class="breadcrumbs__item">
                            Тех.информация
                        </a>
                        <span aria-hidden="true">&mdash;</span>
                        <span aria-current="page" class="breadcrumbs__item">
                            Решение проблем
                        </span>
                    </nav>
                </div>
            </div>

            <div class="block-login block1 block-problem">
                <div class="container">
                    <div class="block-login__top">
                        <h1 class="title2">решение проблем</h1>
                        <p>
                            Подраздел представляет из себя страничку с текстовой и графической информацией, на основе
                            которой, пользователь принимает решения, как продлить жизнь инструменту или как не допустить
                            поломку инструмента. Пример информации приведен ниже. Информация будет подготовлена
                            заказчиком.
                        </p>
                    </div>
                </div>
                <div class="container container_bordered1">
                    <form data-validate action="#" class="form">
                        <div class="form-grid1">
                            <div class="form-grid1__row form-grid1-top">
                                <div class="form-grid1__title">причина обращения</div>
                            </div>
                            <div class="form-grid1__row">
                                <select data-select class="ts-wrapper_wide select2" required name="problem_field1">
                                    <option value="1">Причина обращения</option>
                                    <option value="2">Причина обращения2</option>
                                    <option value="3">Причина обращения3</option>
                                    <option value="4">Причина обращения4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-grid1">
                            <div class="form-grid1__row form-grid1-top">
                                <div class="form-grid1__title">контактные данные</div>
                            </div>
                            <div class="form-grid1__row">
                                <div class="form-group1">
                                    <input id="popup_login_fio" class="field-input1 form-group1__field" placeholder=" "
                                        type="text" name="popup_login_fio" required>
                                    <label class="form-group1__label form-group1__label_req"
                                        for="popup_login_fio">ФИО</label>
                                </div>
                            </div>
                            <div class="form-grid1__row form-grid1__row_2">
                                <div class="form-group1">
                                    <input id="popup_buy1click_phone" data-type="phone" data-mask="phone"
                                        placeholder=" " class="field-input1 form-group1__field" type="text"
                                        name="popup_buy1click_phone" required>
                                    <label class="form-group1__label form-group1__label_hidden"
                                        for="popup_buy1click_phone">Номер телефона</label>
                                    <span
                                        class="form-group1__placeholder1 form-group1__placeholder1_req"><span>+7</span>
                                        (999) 999-99-99</span>
                                </div>
                            </div>
                            <div class="form-grid1__row form-grid1__row_2">
                                <div class="form-group1">
                                    <input id="popup_login_email" class="field-input1 form-group1__field"
                                        placeholder=" " type="text" name="popup_login_email" required>
                                    <label class="form-group1__label form-group1__label_req"
                                        for="popup_login_email">E-mail</label>
                                </div>
                            </div>
                            <div class="form-grid1__row">
                                <div class="form-group1">
                                    <input id="popup_login_tovar" class="field-input1 form-group1__field"
                                        placeholder=" " type="text" name="popup_login_tovar" required>
                                    <label class="form-group1__label form-group1__label_req"
                                        for="popup_login_tovar">Товар</label>
                                </div>
                            </div>
                            <div class="form-grid1__row">
                                <div class="form-group1">
                                    <input id="popup_login_city" class="field-input1 form-group1__field" placeholder=" "
                                        type="text" name="popup_login_city" required>
                                    <label class="form-group1__label form-group1__label_req"
                                        for="popup_login_city">Город</label>
                                </div>
                            </div>
                            <div class="form-grid1__row">
                                <div class="form-group1">
                                    <textarea id="popup_login_text" class="field-input1 form-group1__field"
                                        placeholder=" " type="text" name="popup_login_text"></textarea>
                                    <label class="form-group1__label" for="popup_login_text">Сообщение</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-grid1__buttons">
                            <div class="form-grid1__row form-grid1__row_sparse">
                                <div class="form-group">
                                    <label class="checkbox-text">
                                        <span class="checkbox">
                                            <input class="checkbox__input" type="checkbox" name="agreement" required>
                                            <span class="checkbox__visual">
                                                <svg class="checkbox__mark" width="12" height="11" aria-hidden="true">
                                                    <use xlink:href="img/sprite.svg#mark1"></use>
                                                </svg>
                                            </span>
                                        </span>
                                        <span class="checkbox-text__label">Даю согласие на обработку своих персональных
                                            данных</span>
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn_primary" type="submit">
                                Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>