<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Вакансии</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-breadcrumbs breadcrumbs-vacancies">
                <div class="container">
                    <nav aria-label="breadcrumb" class="breadcrumbs">
                        <a href="/" class="breadcrumbs__item">
                            Главная
                        </a>
                        <span aria-hidden="true">&mdash;</span>
                        <span aria-current="page" class="breadcrumbs__item">
                            Вакансии
                        </span>
                    </nav>
                    <h1 class="title2">Вакансии</h1>
                    <p>
                        Мы рады видеть в команде инициативных и вовлеченных сотрудников, готовых решать сложные задачи и
                        реализовывать масштабные проекты
                    </p>
                </div>
            </div>

            <div class="block-vacancies block1">
                <div class="container container_bordered1">
                    <div data-spollers class="spollers">
                        <div class="spollers__item">
                            <div data-spoller class="spollers__titles">
                                <div class="spollers__content">
                                    <div class="spollers__left">
                                        <div class="spollers__title">
                                            Менеджер по продажам
                                        </div>
                                        <div class="spollers__subtitle">
                                            <span>Любой регион</span>
                                            <span>Опыт работы: 1-3 года</span>
                                            <span>Удаленная работа</span>
                                        </div>
                                    </div>
                                    <div class="spollers__price">
                                        от 50 000 ₽
                                    </div>
                                </div>
                                <div class="spollers__icon">
                                    <svg aria-hidden="true" width="26" height="26">
                                        <use xlink:href="img/sprite.svg#plus1"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="spollers__body">
                                <div class="descr">
                                    <div>
                                        <h4 class="title3">
                                            Обязанности:
                                        </h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Планирование, создание, настройка и ведение рекламных кампаний в
                                                контекстной
                                                рекламе.
                                            </li>
                                            <li class="descr-circle">
                                                Тестирование, мониторинг, анализ, оценка эффективности, оптимизация
                                                рекламных кампаний.
                                            </li>
                                            <li class="descr-circle">
                                                Контроль бюджетов и достижение целевых показателей по проекту.
                                            </li>
                                            <li class="descr-circle">
                                                Конкурентный анализ.
                                            </li>
                                            <li class="descr-circle">
                                                Написание рекламных объявлений для контекстной рекламы.
                                            </li>
                                            <li class="descr-circle">
                                                Ведение отчетности: ежедневной, еженедельной, месячной.
                                            </li>
                                            <li class="descr-circle">
                                                Выполнение поручений руководителя.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Требования:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Опыт работы от 1 года.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с большим количеством проектов с небольшими бюджетами.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с сервисом CoMagic.
                                            </li>
                                            <li class="descr-circle">
                                                Умение анализировать качество трафика.
                                            </li>
                                            <li class="descr-circle">
                                                Уверенный пользователь Excel, M.Office.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт оценки контекстных кампаний по CPA/CPL.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с AMO crm будет плюсом.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Условия:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Стопроцентная возможность профессионального роста.
                                            </li>
                                            <li class="descr-circle">
                                                Современная и сильная команда, которая готова делиться опытом.
                                            </li>
                                            <li class="descr-circle">
                                                Удаленный график работы: 5/2 с 10:00 до 19:00 или с 09:30 до 18:30.
                                            </li>
                                            <li class="descr-circle">
                                                Оформление: ТК РФ, агентский договор.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" class="btn btn_primary">Откликнуться на вакансию</a>
                            </div>
                        </div>
                        <div class="spollers__item">
                            <div data-spoller class="spollers__titles">
                                <div class="spollers__content">
                                    <div class="spollers__left">
                                        <div class="spollers__title">
                                            Менеджер по продажам
                                        </div>
                                        <div class="spollers__subtitle">
                                            <span>Любой регион</span>
                                            <span>Опыт работы: 1-3 года</span>
                                            <span>Удаленная работа</span>
                                        </div>
                                    </div>
                                    <div class="spollers__price">
                                        по договоренности
                                    </div>
                                </div>
                                <div class="spollers__icon">
                                    <svg aria-hidden="true" width="26" height="26">
                                        <use xlink:href="img/sprite.svg#plus1"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="spollers__body">
                                <div class="descr">
                                    <div>
                                        <h4 class="title3">
                                            Обязанности:
                                        </h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Планирование, создание, настройка и ведение рекламных кампаний в
                                                контекстной
                                                рекламе.
                                            </li>
                                            <li class="descr-circle">
                                                Тестирование, мониторинг, анализ, оценка эффективности, оптимизация
                                                рекламных кампаний.
                                            </li>
                                            <li class="descr-circle">
                                                Контроль бюджетов и достижение целевых показателей по проекту.
                                            </li>
                                            <li class="descr-circle">
                                                Конкурентный анализ.
                                            </li>
                                            <li class="descr-circle">
                                                Написание рекламных объявлений для контекстной рекламы.
                                            </li>
                                            <li class="descr-circle">
                                                Ведение отчетности: ежедневной, еженедельной, месячной.
                                            </li>
                                            <li class="descr-circle">
                                                Выполнение поручений руководителя.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Требования:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Опыт работы от 1 года.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с большим количеством проектов с небольшими бюджетами.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с сервисом CoMagic.
                                            </li>
                                            <li class="descr-circle">
                                                Умение анализировать качество трафика.
                                            </li>
                                            <li class="descr-circle">
                                                Уверенный пользователь Excel, M.Office.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт оценки контекстных кампаний по CPA/CPL.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с AMO crm будет плюсом.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Условия:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Стопроцентная возможность профессионального роста.
                                            </li>
                                            <li class="descr-circle">
                                                Современная и сильная команда, которая готова делиться опытом.
                                            </li>
                                            <li class="descr-circle">
                                                Удаленный график работы: 5/2 с 10:00 до 19:00 или с 09:30 до 18:30.
                                            </li>
                                            <li class="descr-circle">
                                                Оформление: ТК РФ, агентский договор.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" class="btn btn_primary">Откликнуться на вакансию</a>
                            </div>
                        </div>
                        <div class="spollers__item">
                            <div data-spoller class="spollers__titles">
                                <div class="spollers__content">
                                    <div class="spollers__left">
                                        <div class="spollers__title">
                                            Менеджер по продажам
                                        </div>
                                        <div class="spollers__subtitle">
                                            <span>Любой регион</span>
                                            <span>Опыт работы: 1-3 года</span>
                                            <span>Удаленная работа</span>
                                        </div>
                                    </div>
                                    <div class="spollers__price">
                                        по договоренности
                                    </div>
                                </div>
                                <div class="spollers__icon">
                                    <svg aria-hidden="true" width="26" height="26">
                                        <use xlink:href="img/sprite.svg#plus1"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="spollers__body">
                                <div class="descr">
                                    <div>
                                        <h4 class="title3">
                                            Обязанности:
                                        </h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Планирование, создание, настройка и ведение рекламных кампаний в
                                                контекстной
                                                рекламе.
                                            </li>
                                            <li class="descr-circle">
                                                Тестирование, мониторинг, анализ, оценка эффективности, оптимизация
                                                рекламных кампаний.
                                            </li>
                                            <li class="descr-circle">
                                                Контроль бюджетов и достижение целевых показателей по проекту.
                                            </li>
                                            <li class="descr-circle">
                                                Конкурентный анализ.
                                            </li>
                                            <li class="descr-circle">
                                                Написание рекламных объявлений для контекстной рекламы.
                                            </li>
                                            <li class="descr-circle">
                                                Ведение отчетности: ежедневной, еженедельной, месячной.
                                            </li>
                                            <li class="descr-circle">
                                                Выполнение поручений руководителя.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Требования:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Опыт работы от 1 года.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с большим количеством проектов с небольшими бюджетами.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с сервисом CoMagic.
                                            </li>
                                            <li class="descr-circle">
                                                Умение анализировать качество трафика.
                                            </li>
                                            <li class="descr-circle">
                                                Уверенный пользователь Excel, M.Office.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт оценки контекстных кампаний по CPA/CPL.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с AMO crm будет плюсом.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Условия:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Стопроцентная возможность профессионального роста.
                                            </li>
                                            <li class="descr-circle">
                                                Современная и сильная команда, которая готова делиться опытом.
                                            </li>
                                            <li class="descr-circle">
                                                Удаленный график работы: 5/2 с 10:00 до 19:00 или с 09:30 до 18:30.
                                            </li>
                                            <li class="descr-circle">
                                                Оформление: ТК РФ, агентский договор.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" class="btn btn_primary">Откликнуться на вакансию</a>
                            </div>
                        </div>
                        <div class="spollers__item">
                            <div data-spoller class="spollers__titles">
                                <div class="spollers__content">
                                    <div class="spollers__left">
                                        <div class="spollers__title">
                                            Менеджер по продажам
                                        </div>
                                        <div class="spollers__subtitle">
                                            <span>Любой регион</span>
                                            <span>Опыт работы: 1-3 года</span>
                                            <span>Удаленная работа</span>
                                        </div>
                                    </div>
                                    <div class="spollers__price">
                                        по договоренности
                                    </div>
                                </div>
                                <div class="spollers__icon">
                                    <svg aria-hidden="true" width="26" height="26">
                                        <use xlink:href="img/sprite.svg#plus1"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="spollers__body">
                                <div class="descr">
                                    <div>
                                        <h4 class="title3">
                                            Обязанности:
                                        </h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Планирование, создание, настройка и ведение рекламных кампаний в
                                                контекстной
                                                рекламе.
                                            </li>
                                            <li class="descr-circle">
                                                Тестирование, мониторинг, анализ, оценка эффективности, оптимизация
                                                рекламных кампаний.
                                            </li>
                                            <li class="descr-circle">
                                                Контроль бюджетов и достижение целевых показателей по проекту.
                                            </li>
                                            <li class="descr-circle">
                                                Конкурентный анализ.
                                            </li>
                                            <li class="descr-circle">
                                                Написание рекламных объявлений для контекстной рекламы.
                                            </li>
                                            <li class="descr-circle">
                                                Ведение отчетности: ежедневной, еженедельной, месячной.
                                            </li>
                                            <li class="descr-circle">
                                                Выполнение поручений руководителя.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Требования:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Опыт работы от 1 года.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с большим количеством проектов с небольшими бюджетами.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с сервисом CoMagic.
                                            </li>
                                            <li class="descr-circle">
                                                Умение анализировать качество трафика.
                                            </li>
                                            <li class="descr-circle">
                                                Уверенный пользователь Excel, M.Office.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт оценки контекстных кампаний по CPA/CPL.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с AMO crm будет плюсом.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Условия:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Стопроцентная возможность профессионального роста.
                                            </li>
                                            <li class="descr-circle">
                                                Современная и сильная команда, которая готова делиться опытом.
                                            </li>
                                            <li class="descr-circle">
                                                Удаленный график работы: 5/2 с 10:00 до 19:00 или с 09:30 до 18:30.
                                            </li>
                                            <li class="descr-circle">
                                                Оформление: ТК РФ, агентский договор.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" class="btn btn_primary">Откликнуться на вакансию</a>
                            </div>
                        </div>
                        <div class="spollers__item">
                            <div data-spoller class="spollers__titles">
                                <div class="spollers__content">
                                    <div class="spollers__left">
                                        <div class="spollers__title">
                                            Менеджер по продажам
                                        </div>
                                        <div class="spollers__subtitle">
                                            <span>Любой регион</span>
                                            <span>Опыт работы: 1-3 года</span>
                                            <span>Удаленная работа</span>
                                        </div>
                                    </div>
                                    <div class="spollers__price">
                                        по договоренности
                                    </div>
                                </div>
                                <div class="spollers__icon">
                                    <svg aria-hidden="true" width="26" height="26">
                                        <use xlink:href="img/sprite.svg#plus1"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="spollers__body">
                                <div class="descr">
                                    <div>
                                        <h4 class="title3">
                                            Обязанности:
                                        </h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Планирование, создание, настройка и ведение рекламных кампаний в
                                                контекстной
                                                рекламе.
                                            </li>
                                            <li class="descr-circle">
                                                Тестирование, мониторинг, анализ, оценка эффективности, оптимизация
                                                рекламных кампаний.
                                            </li>
                                            <li class="descr-circle">
                                                Контроль бюджетов и достижение целевых показателей по проекту.
                                            </li>
                                            <li class="descr-circle">
                                                Конкурентный анализ.
                                            </li>
                                            <li class="descr-circle">
                                                Написание рекламных объявлений для контекстной рекламы.
                                            </li>
                                            <li class="descr-circle">
                                                Ведение отчетности: ежедневной, еженедельной, месячной.
                                            </li>
                                            <li class="descr-circle">
                                                Выполнение поручений руководителя.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Требования:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Опыт работы от 1 года.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с большим количеством проектов с небольшими бюджетами.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с сервисом CoMagic.
                                            </li>
                                            <li class="descr-circle">
                                                Умение анализировать качество трафика.
                                            </li>
                                            <li class="descr-circle">
                                                Уверенный пользователь Excel, M.Office.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт оценки контекстных кампаний по CPA/CPL.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с AMO crm будет плюсом.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Условия:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Стопроцентная возможность профессионального роста.
                                            </li>
                                            <li class="descr-circle">
                                                Современная и сильная команда, которая готова делиться опытом.
                                            </li>
                                            <li class="descr-circle">
                                                Удаленный график работы: 5/2 с 10:00 до 19:00 или с 09:30 до 18:30.
                                            </li>
                                            <li class="descr-circle">
                                                Оформление: ТК РФ, агентский договор.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" class="btn btn_primary">Откликнуться на вакансию</a>
                            </div>
                        </div>
                        <div class="spollers__item">
                            <div data-spoller class="spollers__titles">
                                <div class="spollers__content">
                                    <div class="spollers__left">
                                        <div class="spollers__title">
                                            Менеджер по продажам
                                        </div>
                                        <div class="spollers__subtitle">
                                            <span>Любой регион</span>
                                            <span>Опыт работы: 1-3 года</span>
                                            <span>Удаленная работа</span>
                                        </div>
                                    </div>
                                    <div class="spollers__price">
                                        по договоренности
                                    </div>
                                </div>
                                <div class="spollers__icon">
                                    <svg aria-hidden="true" width="26" height="26">
                                        <use xlink:href="img/sprite.svg#plus1"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="spollers__body">
                                <div class="descr">
                                    <div>
                                        <h4 class="title3">
                                            Обязанности:
                                        </h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Планирование, создание, настройка и ведение рекламных кампаний в
                                                контекстной
                                                рекламе.
                                            </li>
                                            <li class="descr-circle">
                                                Тестирование, мониторинг, анализ, оценка эффективности, оптимизация
                                                рекламных кампаний.
                                            </li>
                                            <li class="descr-circle">
                                                Контроль бюджетов и достижение целевых показателей по проекту.
                                            </li>
                                            <li class="descr-circle">
                                                Конкурентный анализ.
                                            </li>
                                            <li class="descr-circle">
                                                Написание рекламных объявлений для контекстной рекламы.
                                            </li>
                                            <li class="descr-circle">
                                                Ведение отчетности: ежедневной, еженедельной, месячной.
                                            </li>
                                            <li class="descr-circle">
                                                Выполнение поручений руководителя.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Требования:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Опыт работы от 1 года.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с большим количеством проектов с небольшими бюджетами.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с сервисом CoMagic.
                                            </li>
                                            <li class="descr-circle">
                                                Умение анализировать качество трафика.
                                            </li>
                                            <li class="descr-circle">
                                                Уверенный пользователь Excel, M.Office.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт оценки контекстных кампаний по CPA/CPL.
                                            </li>
                                            <li class="descr-circle">
                                                Опыт работы с AMO crm будет плюсом.
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <h4 class="title3">Условия:</h4>
                                        <ul>
                                            <li class="descr-circle">
                                                Стопроцентная возможность профессионального роста.
                                            </li>
                                            <li class="descr-circle">
                                                Современная и сильная команда, которая готова делиться опытом.
                                            </li>
                                            <li class="descr-circle">
                                                Удаленный график работы: 5/2 с 10:00 до 19:00 или с 09:30 до 18:30.
                                            </li>
                                            <li class="descr-circle">
                                                Оформление: ТК РФ, агентский договор.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" class="btn btn_primary">Откликнуться на вакансию</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-bottom">
                    <button type="button" class="btn-load">
                        <svg aria-hidden="true" width="24" height="24">
                            <use xlink:href="img/sprite.svg#plus2"></use>
                        </svg>
                        <span>Показать еще</span>
                    </button>
                    <nav aria-label="Постраничная навигация">
                        <ul class="pagination">
                            <li>
                                <span
                                    class="pagination__item pagination__item_nav pagination__item_nav-prev pagination__item_disabled"
                                    href="#">
                                    <svg aria-hidden="true" width="12" height="21">
                                        <use xlink:href="img/sprite.svg#chevron1"></use>
                                    </svg>
                                </span>
                            </li>
                            <li>
                                <a class="pagination__item pagination__item_active" aria-current="page" href="#">1</a>
                            </li>
                            <li>
                                <a class="pagination__item" href="#"><span class="v-h">Страница </span>2</a>
                            </li>
                            <li>
                                <a class="pagination__item" href="#"><span class="v-h">Страница </span>3</a>
                            </li>
                            <li>
                                <a class="pagination__item pagination__item_divider" href="#">...</a>
                            </li>
                            <li>
                                <a class="pagination__item" href="#"><span class="v-h">Страница </span>12</a>
                            </li>
                            <li>
                                <a class="pagination__item pagination__item_nav pagination__item_nav-next" href="#">
                                    <svg aria-hidden="true" width="12" height="21">
                                        <use xlink:href="img/sprite.svg#chevron3"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            {% include 'blocks/feedback.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>